server:
  port: 8080
spring:
  application:
    name: gateway-service
  cloud:
    gateway:
      routes:
        - id: product_route
          uri: http://localhost:8081
          predicates:
            - Path=/products/**
          filters:
            - AddResponseHeader=X-Demo-Header, HelloFromGateway
        - id: order_route
          uri: http://localhost:8082
          predicates:
            - Path=/orders/**
          filters:
            - AddResponseHeader=X-Demo-Header, HelloFromGateway